*{
  margin: 0;
  padding: 0;
;
}
body{
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


body {
  background-color: black;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}





