.home {
 width: 315px;
height: 165px;
flex-shrink: 0;
position: absolute;
margin-top: 6px;
margin-left: 10px;
top: 0;
left: 0;
 border-radius: 8px;
background: #181818;  

}

a{
display: flex;
margin-top: 55px;
margin-bottom: -35px;
margin-left:  50px;
font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 19.2px; 
transition: 0.5s;
color: #b3b3b3;
text-decoration: inherit;

}
a:hover{
    color: white;
    
}



.logo{
    position: absolute;
    margin-top: 10px;
margin-left: 10px;
    top: 0;
    left: 0;
    width: 78px;
height: 24px;
flex-shrink: 0;
}


.casa{
    position: absolute;
    margin-top: 50px;
margin-left: -17px;
    top: 0;
    left: 0;
    width: 78px;
height: 24px;
flex-shrink: 0;

}

.search{
    position: absolute;
    margin-top: 90px;
margin-left: -17px;
    top: 0;
    left: 0;
    width: 78px;
height: 24px;
flex-shrink: 0;


}

.play{
    top: 10.7em;
    display: flex;
    width: 315px;
    height:700px;
    flex-direction: column;
    margin-top: 5px;
margin-left: 10px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
 border-radius: 8px;
 


    background-color: #181818;
}

.livro{
margin-top: -140px;
margin-left: -30px;
}

.mais{
margin-top: -55px;
margin-left: 230px;

}

.criar{
    display: flex;
    margin-left: 10px;
width: 70px;
padding: 16px 111px 20px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
flex-shrink: 0;
border-radius: 8px;
background: #242424;
}

.criar p{
margin-left: -90px;

    width: 150px;
    color: #FFF;
font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 19.2px;
}

.criar h1{
    position: absolute;
    top: 200px;
    margin-left: -150px;
    font-size: 15px;
    color: black;
    display: flex;
width: 100px;
height: 15px;
padding: 7.6px 25.96px 7.4px 40px;
justify-content: center;
align-items: center;
flex-shrink: 0;

border-radius: 9999px;
background: #FFF;
}

.podcast{
    
 display: flex;
 margin-left: 10px;
width: 70px;
padding: 16px 111px 20px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
flex-shrink: 0;
border-radius: 8px;
background: #242424;
}
.podcast p{
margin-left: -90px;
    width: 200px;
 color: #FFF;
font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 19.2px; 
}

.podcast h1{
    position: absolute;
    top: 395px;
    font-size: 15px;
color: black;
margin-left: -150px;
display: flex;
width: 100px;
height: 15px;
padding: 7.6px 35.66px 7.4px 40px;
justify-content: center;
align-items: center;
flex-shrink: 0;

border-radius: 9999px;
background: #FFF;
white-space: nowrap;
overflow: hidden;
}




.musics {
    overflow-y: scroll;
    max-height: 500px;
    -webkit-overflow-scrolling: touch;

    background-color: black;
    display: flex;
    width: 860px;
    height: 800px;
padding: 0px 23.922px;
    top: 11em;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
 border-radius: 8px;
 right: 5px;
 overflow-y: scroll;


    background-color: #181818;
}
.setas{
    display: flex;
    margin-top: -350px;
    margin-left: 400px;
   
}

.seta1{
    display: flex;
width: 15px;
height: 20px;
padding: 8px;
    border-radius: 50px;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.70);
}

.seta2{
    

 display: flex;

width: 15px;
height: 20px;
padding: 8px;
justify-content: center;
align-items: center;
border-radius: 50px;
opacity: 0.6;
background: rgba(0, 0, 0, 0.70);

}

.log h6{
    align-items: center;
    text-align: center;
   right: 10em;
font-family: Nunito;
font-size: 15px ;
   margin-top: -9px;
   margin-left: 1150px;
   display: flex;
   width: 45px;
   height: 20px;
   padding: 14.4px 60.38px 14.6px 65px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border-radius: 9999px;
background: #FFF;
white-space: nowrap;
overflow: hidden;
}
.log p{
    position: absolute;
    top: 50px;
    
 color: #A7A7A7;
 display: flex;
 margin-top: -10px;
 margin-left: 1000px;

font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 700;
} 

