.home {
 width: 315px;
height: 165px;
flex-shrink: 0;
position: absolute;
margin-top: 6px;
margin-left: 10px;
top: 0;
left: 0;
 border-radius: 8px;
background: #181818;  

}

a{
display: flex;
margin-top: 55px;
margin-bottom: -35px;
margin-left:  50px;
font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 19.2px; 
transition: 0.5s;
color: #b3b3b3;
text-decoration: inherit;

}
a:hover{
    color: white;
    
}



.logo{
    position: absolute;
    margin-top: 10px;
margin-left: 10px;
    top: 0;
    left: 0;
    width: 78px;
height: 24px;
flex-shrink: 0;
}


.casa{
    position: absolute;
    margin-top: 50px;
margin-left: -17px;
    top: 0;
    left: 0;
    width: 78px;
height: 24px;
flex-shrink: 0;

}

.search{
    position: absolute;
    margin-top: 90px;
margin-left: -17px;
    top: 0;
    left: 0;
    width: 78px;
height: 24px;
flex-shrink: 0;


}

.play{
    top: 10.7em;
    display: flex;
    width: 315px;
    height:100%;
    flex-direction: column;
    margin-top: 5px;
margin-left: 10px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
 border-radius: 8px;
 


    background-color: #181818;
}

.livro{
margin-top: -140px;
margin-left: -30px;
}

.mais{
margin-top: -55px;
margin-left: 230px;

}

.criar{
    display: flex;
    margin-left: 10px;
width: 70px;
padding: 16px 111px 20px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
flex-shrink: 0;
border-radius: 8px;
background: #242424;
}

.criar p{
margin-left: -90px;

    width: 150px;
    color: #FFF;
font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 19.2px;
}

.criar h1{
    position: absolute;
    top: 200px;
    margin-left: -150px;
    font-size: 15px;
    color: black;
    display: flex;
width: 100px;
height: 15px;
padding: 7.6px 25.96px 7.4px 40px;
justify-content: center;
align-items: center;
flex-shrink: 0;

border-radius: 9999px;
background: #FFF;
}

.podcast{
    
 display: flex;
 margin-left: 10px;
width: 70px;
padding: 16px 111px 20px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
flex-shrink: 0;
border-radius: 8px;
background: #242424;
}
.podcast p{
margin-left: -90px;
    width: 200px;
 color: #FFF;
font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 19.2px; 
}

.podcast h1{
    position: absolute;
    top: 395px;
    font-size: 15px;
color: black;
margin-left: -150px;
display: flex;
width: 100px;
height: 15px;
padding: 7.6px 35.66px 7.4px 40px;
justify-content: center;
align-items: center;
flex-shrink: 0;

border-radius: 9999px;
background: #FFF;
white-space: nowrap;
overflow: hidden;
}




.musics {


    background-color: black;
    display: flex;
    width: 74%;
    height: 800px;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
 border-radius: 8px;
left: 335px;

    background-color: #181818;
}
.setas{
 
left: 0;
display: flex;
   
}

.seta1{
    display: flex;
    background-color: red;
width: 15px;
height: 20px;
padding: 8px;
    border-radius: 50px;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.70);
}

.seta2{
    

 display: flex;

width: 15px;
height: 20px;
padding: 8px;
justify-content: center;
align-items: center;
border-radius: 50px;
opacity: 0.6;
background: rgba(0, 0, 0, 0.70);

}



.cards{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 100px;
    
}

.bar {
    border-radius: 8px 8px 0px 0px;
    position: relative;
    display: flex;
    width: 94%;
    height: 50px;
    align-items: center;
    justify-content: end;
    padding: 8px 30px;
    background-color: rgb(12, 12, 12);
}

.bar button {
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.bar button:hover {
    scale: 1.04;
}

.bar a {

right: 160px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    transition: 0.5s;
}

.bar a:hover {
    scale: 1.04;
}

