.Search {
  margin-right: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}

.Search input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
}

.Search img {
  width: 25px;
  height: 25px;
}
  
  
  